@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 3rem 5rem;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}


/* LEFT SIDE */

#left_side {
  position: relative;
  background: #01496a;
  padding: 2rem 2rem 3rem 2rem;
}

.photo {
  position: relative;
  margin: 1rem;
  width: 14.5em;
  height: 15em;
  border-radius: 50%;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
}


h1 {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  line-height: 1.4rem;

}

.metier {
  position: relative;
  padding-top: 2rem;
  color: #fff;
  line-height: 1.4rem;
  font-weight: 600;

}

#contact {
  position: relative;
  padding-top: 2rem;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.4rem;
}

h2 {
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-bottom: 1.5rem;
}

.info_icon {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.2rem 0rem 0rem 0.5rem;
}

h3 {
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 2.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-bottom: 1.5rem;

}

#formation {
  position: relative;
  padding-top: 2.5rem;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.4rem;
}

h4 {
  font-weight: 700;
  text-transform: capitalize;
}

h5 {
  padding-top: 0.7rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem
}

.formation {
  padding: 0em 0rem 0rem 1.2rem;
  text-transform: capitalize;
  margin-bottom: 0rem;
  font-size: 1.1rem
}

.spe {
  padding-bottom: 2rem;
}

#loisir {
  position: relative;
  padding-top: 2rem;
  font-size: 1.2rem;
  line-height: 0.1rem;
  color: #fff;
}

.paintball {
  text-transform: capitalize;
  color: #333;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  color: #fff;
}




/* RIGHT SIDE */

#right_side {
  position: relative;
  background-color: #fff;
  padding: 5rem 3rem 0rem 2.6rem;
}

main {
  color: #003147;
  text-align: justify;
}

#profil {
  padding-bottom: 1rem;
}

.profil_p {
  color: #333;
  line-height: 1.3rem;
}

#exp {
  padding-bottom: 1rem;
}

.exp_h4 {
  padding: 0.5rem 0rem 0rem 2rem;
  font-weight: 500; 
}

.exp_p {
  color: #333;
  line-height: 1.3rem;
  padding: 0.5rem 0rem 0.5rem 2rem;
}

#technos {
  position: relative;
  line-height: 2rem;
}


.technos_list {
  text-transform: capitalize;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  color: #333;

}

footer {
  text-align: right;
  padding: 14rem 0rem 0rem !important;
  margin: 0 !important;
}